@import 'mixins';

@backgroundColor: rgb(137, 137, 163);
@fontColor: rgb(73, 72, 72);

body {
    background-color: fade(@backgroundColor, 50%);
    color: saturate(@fontColor, 10%);
}

div.div-operations {
    border: lighten(@fontColor, 20%) thin solid;
    font-size: 20px * .8;
    width: (100% / 2) + 25%;
    color: mix(@fontColor, @backgroundColor);

    .rounded-corners-all(5px);
}