$primar-color: rgb(56, 56, 56);
$secondary-color: rgb(216, 214, 214);

body {
    background-color: fade_out($primar-color, .2);
    color: $secondary-color;
}

h1 {
    font-size: 20px + 2;
}

@import "headings";

div.rules {
    ul {
        list-style-type: square;

        li {
            font-style: italic;
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    font: {
        family: Tahmoa;
        size: 18px;
    }
}

@mixin rounded-corners-all($size) {
    border-radius: $size;
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
}

.button {
    color: rgb(0, 0, 128);
    font-weight: bolder;
    @include rounded-corners-all(10px);
}

.submit-button {
    @extend .button;
    background-color: rgb(168, 165, 165);
}

$app-width: 900px;

@function column-width($cols) {
    @return ($app-width / $cols) - ($cols * 5px);
}

.col2 {
    border: #000 solid thin;
    width: column-width(2);
}
